<%= form_for(@project_card) do |f| %>
    <% if @project_card.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@project_card.errors.count, "error") %> prohibited this project_card from being saved:</h2>

          <ul>
            <% @project_card.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div>
      <%= f.text_field :name, placeholder: 'Project Name' %>
    </div>

    <div>
      <%= f.text_field :location, placeholder: 'Project Location' %>
    </div>

    <div>
      <%= f.text_field :price, placeholder: 'Project price' %>
    </div>

    <div>
      <%= f.text_field :description, placeholder: 'Project description' %>
    </div>

    <div>
      <%= f.file_field :image1, placeholder: 'Project Image1' %>
    </div>

    <div>
      <%= f.file_field :image2, placeholder: 'Project Image2' %>
    </div>

    <div>
      <%= f.file_field :image3, placeholder: 'Project Image3' %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
