<section id="project-poster-editor-toolbar">
  <div class="container">
    <div class="row">
      <div id="ppe-wrap">

        <div class="ppe-header">
          <h2>Project poster toolbar</h2>
        </div>

        <div class="ppe-actions-menu clearfix">

          <ul class="ppe-action-group">
            <li class="ppe-action">
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Explain icon here"><i class="fa fa-undo" aria-hidden="true"></i></a>
            </li>
            <li class="ppe-action action-group-end">
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Explain icon here"><i class="fa fa-repeat" aria-hidden="true"></i></a>
            </li>
          </ul>

          <ul class="ppe-action-group">
            <li class="">
              <select class="selectpicker" style="width:150px; margin: 0;" placeholde="Chose one">
                <option hidden>Font Family</option>
                <option>Georgia</option>
                <option>Palatino Linotype</option>
                <option>Times New Roman</option>
                <option>Helvetica</option>
                <option>Arial</option>
                <option>Comic Sans MS</option>
                <option>Gadget</option>
                <option>Lucida Sans Unicode</option>
              </select>

            </li>
            <li class="ppe-action">
              <div class="dropdown">
                <a class="dropbtn"><i class="fa fa-empire"></i></a>

                <div class="dropdown-content theme-items">
                  <div class="pre-theme">
                    <% ProjectCard::THEME.each do |theme| %>
                        <%= link_to project_card_set_theme_path(@project_card, theme: theme), remote: true, class: 'set_theme' do %>
                            <%= image_tag theme %>
                        <% end %>
                    <% end %>
                  </div>
                  <%= form_tag(project_card_upload_theme_path(@project_card.id), :multipart => true, id: 'theam-upload') do %>
                      <%= file_field_tag 'background_image', id: "upload-theam_image" %>
                      <%#= hidden_field_tag 'card_id', '', value: @project_card.id %>
                  <% end %>
                  <a href="javascript:void(0)" class="upload_theam">Upload Theam</a>

                  <a href="<%= project_card_reset_theme_path(@project_card.id) %>" data-remote="true">Reset Theam</a>
                </div>
              </div>
            </li>
            <li class="ppe-action">
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Explain icon here"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            </li>
            <li class="ppe-action">
              <a href="javascript:void(0)" id="image_crop" data-toggle="tooltip" data-placement="bottom" title="Explain icon here"><i class="fa fa-crop" aria-hidden="true"></i></a>
            </li>
            <li class="ppe-action">
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Explain icon here"><i class="fa fa-list" aria-hidden="true"></i></a>
            </li>
            <li class="ppe-action action-group-end">
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Explain icon here"><i class="fa fa-paint-brush" aria-hidden="true"></i></a>
            </li>
          </ul>

          <ul class="ppe-action-group">
            <li class="ppe-action">
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Explain icon here"><i class="fa fa-header" aria-hidden="true"></i></a>
            </li>
            <li class="ppe-action">
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Explain icon here"><i class="fa fa-text-height" aria-hidden="true"></i></a>
            </li>
            <li class="ppe-action">
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Explain icon here"><i class="fa fa-bold" aria-hidden="true"></i></a>
            </li>
            <li class="ppe-action">
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Explain icon here"><i class="fa fa-italic" aria-hidden="true"></i></a>
            </li>
            <li class="ppe-action action-group-end">
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Explain icon here"><i class="fa fa-underline" aria-hidden="true"></i></a>
            </li>

            <li class="ppe-done"><a class="btn btn-primary" href="#">Done</a></li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</section>

<%= form_for @project_card, remote: true, authenticity_token: true, :html => {:multipart => true, id: 'project_card'}, :formats => [:js] do |f| %>
    <div id="project-card" class="project-card-frame" style="<%= set_background(@project_card) %>">
      <div class="pin-tier">
        <div class="pin-grip">
          <%= image_tag('jcpin.png') %>
        </div>
      </div>
      <div class="project-card-container">
        <div class="section clearfix">
          <div class="name-wrapper draggable-item" data-container="name" style="<%= set_style(f.object.property, 'name') %>">
            <label data-toggle="tooltip" data-placement="top" title="Edit" class="editable">
            <span class="editable-text">
              <%= f.object.name.present? ? f.object.name : 'PROJECT NAME' %>
            </span>
              <i class="fa fa-pencil-square-o edit-button" aria-hidden="true"></i>
            </label>
            <%= f.text_field :name, placeholder: 'Project Name', class: 'edit-field' %>
          </div>

          <div class="location-wrapper draggable-item" data-container="location" style="<%= set_style(f.object.property, 'location') %>">
            <label data-toggle="tooltip" data-placement="top" title="Edit" class="editable">
              <span class="editable-text"><%= f.object.location.present? ? f.object.location : 'Project Location' %></span>
              <i class="fa fa-pencil-square-o edit-button" aria-hidden="true"></i>
            </label>
            <%= f.text_field :location, placeholder: 'Project Location', class: 'edit-field' %>
          </div>
        </div>

        <div class="section clearfix">
          <div class="price-wrapper draggable-item" data-container="price" style="<%= set_style(f.object.property, 'price') %>">
            <label data-toggle="tooltip" data-placement="top" title="Edit" class="editable">
              <span class="editable-text"><%= @project_card.price.present? ? @project_card.price : 'Project Price' %></span>
              <i class="fa fa-pencil-square-o edit-button" aria-hidden="true"></i>
            </label>
            <%= f.text_field :price, value: @project_card.price.present? ? @project_card.price : 'Project Price', class: 'edit-field' %>
          </div>

          <div class="group-image-wrapper clearfix">
            <div class="image1-wrapper draggable-item clearfix" data-container="image1" style="<%= set_style(f.object.property, 'image1') %>">
              <div class="image-upload">
                <label for="file-input1xx" style="position: relative">
                  <div class="image-option-outer">
                    <div class="image-option">
                      <a href="javascript:void(0)" class="image_crop_option" data-toggle="tooltip" data-placement="bottom" title="Edit Image">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </a>
                      <a href="javascript:void(0)" class="enable_upload" data-toggle="tooltip" data-placement="bottom" title="Upload Image"><i class="fa fa-upload" aria-hidden="true"></i></a>
                    </div>
                  </div>
                  <%= image_tag @project_card.image1_url.present? ? @project_card.image1_url : 'gardenshed3.jpg', class: 'image-preview', id: 'image1', data: {target_border: "border_image1"}, style: set_image_style(f.object.property, 'border_image1') %>
                </label>

                <%= f.file_field :helper_image1, id: 'file-input1', class: 'upload-image', data: {target: "#{f.object.class.name.underscore }_image1"} %>
                <%= f.hidden_field :image1 %>
              </div>
            </div>

            <div class="image2-wrapper draggable-item clearfix" data-container="image2" style="<%= set_style(f.object.property, 'image2') %>">
              <div class="image-upload">
                <label for="file-input2xx">
                  <div class="image-option-outer">
                    <div class="image-option">
                      <a href="javascript:void(0)" class="image_crop_option" data-toggle="tooltip" data-placement="bottom" title="Edit Image">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </a>
                      <a href="javascript:void(0)" class="enable_upload" data-toggle="tooltip" data-placement="bottom" title="Upload Image">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                  <%= image_tag @project_card.image2_url.present? ? @project_card.image2_url : 'gardenshed3.jpg', class: 'image-preview', id: 'image2', data: {target_border: "border_image2"}, style: set_image_style(f.object.property, 'border_image2') %>
                </label>

                <%= f.file_field :helper_image2, id: 'file-input2', class: 'upload-image', data: {target: "#{f.object.class.name.underscore }_image2"} %>
                <%= f.hidden_field :image2 %>
              </div>
            </div>

          </div>
        </div>

        <div class="section clearfix bottom-section">
          <div class="image3-wrapper draggable-item" data-container="image3" style="<%= set_style(f.object.property, 'image3') %>">
            <div class="image-upload">
              <label for="file-input3xx">
                <div class="image-option-outer">
                  <div class="image-option">
                    <a href="javascript:void(0)" class="image_crop_option" data-toggle="tooltip" data-placement="bottom" title="Edit Image">
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:void(0)" class="enable_upload" data-toggle="tooltip" data-placement="bottom" title="Upload Image">
                      <i class="fa fa-upload" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <%= image_tag @project_card.image3.url.present? ? @project_card.image3_url : 'gardenshed2.jpg', class: 'image-preview', id: 'image3', data: {target_border: "border_image3"}, style: set_image_style(f.object.property, 'border_image3') %>
              </label>

              <%= f.file_field :helper_image3, id: 'file-input3', class: 'upload-image', data: {target: "#{f.object.class.name.underscore }_image3"} %>
              <%= f.hidden_field :image3 %>
            </div>
          </div>

          <div class="description-wrapper draggable-item" data-container="description" style="<%= set_style(f.object.property, 'description') %>">
            <p>
              <label data-toggle="tooltip" data-placement="top" title="Edit" class="editable">
                <span class="editable-text"><%= @project_card.description.present? ? @project_card.description : 'Project description. Nullam feugiat neque quis dolor blandit, ut ultricies justo tincidunt. Integer blandit aliquet eros eu dapibus. Mauris pretium gravida dui, at finibus velit tristique vitae.Duis eu massa euismod, vestibulum sapien vel, mollis odio. In hac habitasse platea dictumst.Donec leo leo, dignissim vel nunc id, fermentum imperdiet neque.' %></span>
                <i class="fa fa-pencil-square-o edit-button" aria-hidden="true"></i>
              </label>
              <%= f.text_area :description, value: @project_card.description.present? ? @project_card.description : 'Project description. Nullam feugiat neque quis dolor blandit, ut ultricies justo tincidunt. Integer blandit aliquet eros eu dapibus. Mauris pretium gravida dui, at finibus velit tristique vitae.Duis eu massa euismod, vestibulum sapien vel, mollis odio. In hac habitasse platea dictumst.Donec leo leo, dignissim vel nunc id, fermentum imperdiet neque.', class: 'edit-field' %>
          </div>
        </div>
        <div class="pull-right" style="position: absolute; right: 15px; bottom: 15px;">
          <%= image_tag('logo.png', style: "width: 126px; height: 35px;") %>
        </div>
      </div>
    </div>
    <%= f.text_field :property %>
<% end %>

<div class="modal fade" id="modal" aria-labelledby="modalLabel" role="dialog" tabindex="-1" data-backdrop="false" style="top: 40px;" data-keyboard=false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Crop the image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div>
          <img id="image" src="" alt="Picture" style="max-width: 100%; height: auto;">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="crop-image" type="button" class="btn btn-default">Done</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="image_editor" aria-labelledby="modalLabel" role="dialog" tabindex="-1" data-backdrop="false" style="top: 40px;" data-keyboard=false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Crop the image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-2 padding-botto15">
            <a href="javascript:void(0)" class="image-shape" data-radious="5">
              <img class="preview-shape" src="" alt="Picture" style="width: 120px; height: 70px; border-radius: 5px;">
            </a>
          </div>
          <div class="col-sm-2 padding-botto15">
            <a href="javascript:void(0)" class="image-shape" data-radious="10">
              <img class="preview-shape" src="" alt="Picture" style="width: 120px; height: 70px; border-radius: 10px;">
            </a>
          </div>
          <div class="col-sm-2 padding-botto15">
            <a href="javascript:void(0)" class="image-shape" data-radious="15">
              <img class="preview-shape" src="" alt="Picture" style="width: 120px; height: 70px;border-radius: 15px;">
            </a>
          </div>
          <div class="col-sm-2 padding-botto15">
            <a href="javascript:void(0)" class="image-shape" data-radious="20">
              <img class="preview-shape" src="" alt="Picture" style="width: 120px; height: 70px; border-radius: 20px;">
            </a>
          </div>
          <div class="col-sm-2 padding-botto15">
            <a href="javascript:void(0)" class="image-shape" data-radious="25">
              <img class="preview-shape" src="" alt="Picture" style="width: 120px; height: 70px;border-radius: 25px;">
            </a>
          </div>
          <div class="col-sm-2 padding-botto15" style="padding-left: 0px;">
            <input id="opacity_slide" type="text" name="somename" data-provide="slider" data-slider-min="0" data-slider-max="1" data-slider-step=".1" data-slider-value="3"
                   data-slider-tooltip="hide">
          </div>
        </div>
        <div>
          <img id="image_edit" src="" alt="Picture" style="max-width: 100%; height: auto;">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default crop_button"><i class="fa fa-crop" aria-hidden="true"></i></button>
        <button id="crop-image" type="button" class="btn btn-default">Done</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

    $(function () {
        var stopBlur = false;
        $('.edit-button').click(function () {
            var parent = $(this).parents('.editable');
            parent.hide();
            parent.next('.edit-field').show().focus();
        });

        $('.selectpicker').mousedown(function () {
            stopBlur = true;
        });

        $('.edit-field').blur(function (e) {
            prev = $(this).prev('.editable');
            prev.find('span').text($(this).val());
            prev.show();
            $(this).hide();

            $('#project_card').ajaxSubmit({
                url: $(this).attr('action'),
                dataType: 'script',
                method: 'put'
            });
        });


        $(".upload-image").change(function () {
            var activeImg = $(this);
            var editorModal = $('#modal');
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                var eliment = $(this);
                reader.onload = function (e) {
                    var parent = eliment.parents('.image-upload');
                    $('#image').attr('src', e.target.result);
                    var target_element = eliment.attr("data-target");
                    $('#' + target_element).val(e.target.result);
                    parent.find('.image-preview').attr('src', e.target.result);
                };
                reader.readAsDataURL(this.files[0]);
                editorModal.modal('show');
                var $image = $('#image');

                editorModal.on('hidden.bs.modal', function () {
                    $image.cropper('destroy');
                    saveEdit();
                });

                $(document).off('click', '#image_crop').on('click', '#image_crop', function () {
                    $image.cropper({
                        autoCropArea: 0.5
                    });
                });

                $(document).off('click', '#crop-image').on('click', '#crop-image', function () {
                    editorModal.modal('hide');
                    var croppedData = $('#image').cropper('getCroppedCanvas').toDataURL('image/jpeg');
                    activeImg.prev().find('img').attr('src', croppedData);
                    $image.cropper('destroy');
                    var target_element = eliment.attr("data-target");
                    $('#' + target_element).val(croppedData);
                    saveEdit();
                });

            }
        });
    });


    $(function () {
        var mySlider = $("#opacity_slide").bootstrapSlider({
            tooltip: 'show',
            reversed: true,
            labelledby: "Test"
        });

        $(document).off('click', '.upload_theam').on('click', '.upload_theam', function () {
            $("#upload-theam_image").click();
        });

        $(document).off('click', '.image_crop_option').on('click', '.image_crop_option', function () {
            var opacity = 1
            var current_parent = $(this).parents('.image-upload')
            current_parent.find('.image-option-outer').hide();
            var editorModal = $('#image_editor')
            editorModal.modal('show');
            var $image = $('#image_edit');
            $image.attr('src', current_parent.find('.image-preview').attr("src"));
            $('.preview-shape').attr('src', current_parent.find('.image-preview').attr("src"));
            editorModal.on('hidden.bs.modal', function () {
                $image.cropper('destroy');
            });

            $('#opacity_slide').slider().change(function () {
                var opacity = $(this).val()
                var current_image_id = current_parent.find('img').attr("data-target-border");
                current_parent.find('img').css({opacity: opacity});
                $('.cropper-canvas').find('img').css({opacity: opacity});
                var cardPropertyItem = $('#project_card_property');
                var cardProperty = cardPropertyItem.val();
                if (cardProperty == '' || cardProperty == null) {
                    cardProperty = '{}';
                }
                var newProperty = {}
                cardProperty = $.parseJSON(cardProperty);
                var propertyName = current_image_id;
                if (cardProperty[propertyName] == '' || cardProperty[propertyName] == null) {
                    var oldProperty = ''
                }
                else {
                    var oldProperty = cardProperty[propertyName];
                }
                if (oldProperty == '' || oldProperty == null) {
                    newProperty[propertyName] = {opacity: opacity}

                }
                else {
                    var new_value = {opacity: opacity}
                    newProperty = $.extend(oldProperty, new_value)
                }
                cardProperty = $.extend(cardProperty, newProperty);
                cardProperty = JSON.stringify(cardProperty);
                cardPropertyItem.val(cardProperty);
                saveEdit();
            });

            $(document).off('click', '#crop-image').on('click', '#crop-image', function () {
                editorModal.modal('hide');
                var croppedData = $('#image_edit').cropper('getCroppedCanvas').toDataURL('image/jpeg');
                current_parent.find('img').attr('src', croppedData);
                $image.cropper('destroy');
                var target_element = current_parent.find('.upload-image').attr("data-target");
                $('#' + target_element).val(croppedData);
                saveEdit();
            });
            $(document).off('click', '.image-shape').on('click', '.image-shape', function () {
                var radious = parseInt($(this).attr('data-radious'));
                current_parent.find('img').css({borderRadius: radious});
                $('.cropper-canvas').find('img').css({borderRadius: radious});
                var current_image_id = current_parent.find('img').attr("data-target-border");
                var cardPropertyItem = $('#project_card_property');
                var cardProperty = cardPropertyItem.val();
                if (cardProperty == '' || cardProperty == null) {
                    cardProperty = '{}';
                }
                var newProperty = {}
                cardProperty = $.parseJSON(cardProperty);
                var propertyName = current_image_id;

                if (cardProperty[propertyName] == '' || cardProperty[propertyName] == null) {
                    var oldProperty = ''
                }
                else {
                    var oldProperty = cardProperty[propertyName];
                }
                if (oldProperty == '' || oldProperty == null) {
                    newProperty[propertyName] = {borderRadius: radious};

                }
                else {
                    var new_value = {borderRadius: radious};
                    newProperty = $.extend(oldProperty, new_value)
                }
                cardProperty = $.extend(cardProperty, newProperty);
                cardProperty = JSON.stringify(cardProperty);
                cardPropertyItem.val(cardProperty);
                saveEdit();

            });

            $(document).off('click', '.crop_button').on('click', '.crop_button', function () {
                $image.cropper({
                    autoCropArea: 0.5
                });
            })

        });

        $(document).off('click', '.enable_upload').on('click', '.enable_upload', function () {
            var current_parent = $(this).parents('.image-upload')
            current_parent.find('.image-option-outer').hide();
            current_parent.find('.upload-image').click()
        });

        $(document).off('click', '.set_theam').on('click', '.set_theam', function () {
            var click_item = $(this);
            var theam = (click_item.attr('data-theam'));
            var card_id = (click_item.attr('data-card-id'));
            $.ajax({
                url: '/set_theam',
                type: 'get',
                dataType: 'script',
                data: {card_id: card_id, theam: theam}
            });

        });

        $("#upload-theam_image").change(function () {
            $('#theam-upload').ajaxSubmit({
                url: $(this).attr('action'),
                dataType: 'script',
                method: 'POST'
            });
        });
    });

    function saveEdit() {
        $('#project_card').ajaxSubmit({
            url: $(this).attr('action'),
            dataType: 'script',
            method: 'put'
        });
    }

    $(function () {
        var selected = $([]), offset = {top: 0, left: 0};
        var cardPropertyItem = $('#project_card_property');
        $('#project-card').selectable();
        $(".draggable-item").draggable({
            stop: function (event, ui) {
                var cardProperty = cardPropertyItem.val();
                if (cardProperty == '' || cardProperty == null) {
                    cardProperty = '{}';
                }
                cardProperty = $.parseJSON(cardProperty);
                var propertyName = $(this).attr('data-container');
                var newProperty = {};
                newProperty[propertyName] = $(this).position();
                cardProperty = $.extend(cardProperty, newProperty);
                cardProperty = JSON.stringify(cardProperty);
                cardPropertyItem.val(cardProperty);
                saveEdit();
            },
            containment: "#project-card"
        }).resizable({
            handles: 'all'
        });


//        $("#container").selectable();
//        $("#container div").draggable({
//            snap: true,
//            start: function () {
//                if (!$(this).is(".ui-selected")) {
//                    $(".ui-selected").removeClass("ui-selected");
//                }
//                selected = $(".ui-selected").each(function () {
//                    var element = $(this);
//                    element.data("offset", element.offset());
//                });
//                offset = $(this).offset();
//            },
//            drag: function (event, ui) {
//                var draggedTop = ui.position.top - offset.top, draggedLeft = ui.position.left - offset.left;
//                selected.not(this).each(function () {
//                    var element = $(this), off = element.data("offset");
//                    element.css({top: off.top + draggedTop, left: off.left + draggedLeft});
//                });
//            }
//        });
    });
</script>