<section id="project-poster-editor-toolbar">
  <div class="container">
    <div class="row">
      <div id="ppe-wrap">

        <div class="ppe-header">
          <h2>Project poster toolbar</h2>
        </div>

        <div class="ppe-actions-menu clearfix">
          <ul class="ppe-action-group">
            <li class="">
              <select class="selectpicker select-font" style="width:150px; margin: 0;" placeholde="Chose one">
                <option hidden>Font Family</option>
                <option value="Georgia">Georgia</option>
                <option value="Palatino Linotype"> Palatino Linotype</option>
                <option value="Times New Roman">Times New Roman</option>
                <option value="Helvetica">Helvetica</option>
                <option value="Arial">Arial</option>
                <option value="Comic Sans MS"> Comic Sans MS</option>
                <option value="Gadget">Gadget</option>
                <option value="Lucida Sans Unicode">Lucida Sans Unicode</option>
              </select>

            </li>

            <li class="">
              <select class="selectpicker select-font-size" style="width:150px; margin: 0;" placeholde="Chose one">
                <option hidden>Font Size</option>
                <option value="0">10 PT</option>
                <option value="1">12 PT</option>
                <option value="2">14 PT</option>
                <option value="3"> 16 PT</option>
                <option value="4">18 PT</option>
                <option value="5">20 PT</option>
                <option value="6">22 PT</option>
              </select>

            </li>

            <li>
              <div class="fore-color">
                <span class="icon"> <i class="fa fa-pencil"></i> </span>
                <span class="bar"></span>
                <!--<div class="sp-preview"><div class="sp-preview-inner" style="background-color: rgb(238, 204, 204);"></div></div>-->
                <!--<div class="sp-dd">▼</div>-->
                <input class="jscolor {valueElement:'chosen-value', onFineChange:'setTextColor(this)'}" value="ab2567" type="button">
              </div>
              <!--Color  <input id="full1" />-->
              <!--<select class="selectpicker select_color" style="width:100px; margin: 0;" placeholder="Chose Color">-->
                <!--<option hidden>Color</option>-->
                <!--<option value="#ac725e" style="background: #ac725e ">&nbsp;</option>-->
                <!--<option value="#d06b64" style="background: #d06b64;">&nbsp;</option>-->
                <!--<option value="#000000" style="background: #000000 ">&nbsp;</option>-->
                <!--<option value="#f83a22" style="background: #f83a22 ">&nbsp;</option>-->
                <!--<option value="#fa573c" style="background: #fa573c ">&nbsp;</option>-->
                <!--<option value="#ff7537" style="background: #ff7537 ">&nbsp;</option>-->
                <!--<option value="#ffad46" style="background: #ffad46 ">&nbsp;</option>-->
                <!--<option value="#42d692" style="background: #42d692 ">&nbsp;</option>-->
                <!--<option value="#16a765" style="background: #16a765 ">&nbsp;</option>-->
                <!--<option value="#7bd148" style="background: #7bd148 ">&nbsp;</option>-->
                <!--<option value="#b3dc6c" style="background: #b3dc6c ">&nbsp;</option>-->
                <!--<option value="#fbe983" style="background: #fbe983 ">&nbsp;</option>-->
                <!--<option value="#fad165" style="background: #fad165 ">&nbsp;</option>-->
                <!--<option value="#92e1c0" style="background: #92e1c0 ">&nbsp;</option>-->
                <!--<option value="#9fe1e7" style="background: #9fe1e7 ">&nbsp;</option>-->
                <!--<option value="#9fc6e7" style="background: #9fc6e7 ">&nbsp;</option>-->
                <!--<option value="#4986e7" style="background: #4986e7 ">&nbsp;</option>-->
                <!--<option value="#9a9cff" style="background: #9a9cff ">&nbsp;</option>-->
                <!--<option value="#b99aff" style="background: #b99aff ">&nbsp;</option>-->
                <!--<option value="#c2c2c2" style="background: #c2c2c2 ">&nbsp;</option>-->
                <!--<option value="#cabdbf" style="background: #cabdbf ">&nbsp;</option>-->
                <!--<option value="#cca6ac" style="background: #cca6ac ">&nbsp;</option>-->
                <!--<option value="#f691b2" style="background: #f691b2 ">&nbsp;</option>-->
                <!--<option value="#cd74e6" style="background: #cd74e6 ">&nbsp;</option>-->
                <!--<option value="#a47ae2" style="background: #a47ae2">&nbsp;</option>-->
              <!--</select>-->
            </li>

            <li>
              <div class="fore-color">
                <span class="icon"> A </span>
                <span class="bar"></span>
                <input id="full" />
              </div>
            </li>


            <!--<li class="ppe-action">-->
              <!--<div class="dropdown">-->
                <!--<a class="dropbtn"><i class="fa fa-empire"></i></a>-->

                <!--<div class="dropdown-content theme-items">-->
                  <!--<div class="pre-theme">-->
                    <!--<%# ProjectCard::THEME.each do |theme| %>-->
                        <!--<%#= link_to project_card_set_theme_path(@project_card, theme: theme), remote: true, class: 'set_theme' do %>-->
                            <!--<%#= image_tag theme %>-->
                        <!--<%# end %>-->
                    <!--<%# end %>-->
                  <!--</div>-->
                  <!--<%#= form_tag(project_card_upload_theme_path(@project_card.id), :multipart => true, id: 'theam-upload') do %>-->
                      <!--<%#= file_field_tag 'background_image', id: "upload-theam_image" %>-->
                      <!--<%#= hidden_field_tag 'card_id', '', value: @project_card.id %>-->
                  <!--<%# end %>-->
                  <!--<a href="javascript:void(0)" class="upload_theam">Upload Theam</a>-->

                  <!--<a href="<%#= project_card_reset_theme_path(@project_card.id) %>" data-remote="true">Reset Theam</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</li>-->
          </ul>

          <ul class="ppe-action-group">
            <li class="ppe-done" id="update-live-editor"><a class="btn btn-primary" href="javascript:void(0);">Done</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</section>

<div id="live-editor">

  <%= raw @project_card.content %>
  <%#= raw project_card_template(@project_card) %>

  <div id="image-edit-sidebar">
    <h2 class="image-property-header"> Image property </h2>

    <div class="image-property-container">
      <div class="crop-image-wrapper">
        <h4> Crop </h4>

        <div class="crop-area">
          <img id="image_edit" src="" alt="Picture" style="max-width: 100%; height: auto; box-shadow: #730E15 2px;">
        </div>
        <button id="crop-image" type="button" class="btn btn-default">Done</button>
      </div>
      <div class="transparent-wrapper">
        <h4> Transparent </h4>
        <input id="opacity_slide" type="text" name="transparent" data-provide="slider" data-slider-min="0" data-slider-max="1" data-slider-step=".1" data-slider-tooltip="hide">
      </div>

      <div class="soft-edge-wrapper">
        <h4> Soft Edge </h4>
        <input id="edge_slide" type="text" name="softedge" data-provide="slider" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-tooltip="hide">
      </div>

      <div class="replace-image-wrapper">
        <h4> Replace Image </h4>
        <%= form_tag('', id: 'upload_new_image', multipart: true, remote: true) do %>
             <span id="fileselector">
        <label class="btn btn-default" for="upload-file-selector">
          <input id="upload-file-selector" type="file" name="image">
          <i class="fa_icon icon-upload-alt margin-correction"></i>upload file
        </label>
               <%= hidden_field_tag :field_name %>
    </span>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    var selection = false;
    var currentNode = null;
    $(function () {
        var background_color = $('#project-card').css("background-color");

        setTextColor = function(picker) {
           color = '#' + picker.toString();
           document.execCommand('styleWithCSS', false, true);
           document.execCommand('foreColor', false, color);
        };

        $("#full,#full1").spectrum({
            color: "#ECC",
            showInput: true,
            className: "full-spectrum",
            showInitial: true,
            showPalette: true,
            showSelectionPalette: true,

            palette: [
                ["rgb(0, 0, 0)", "rgb(67, 67, 67)", "rgb(102, 102, 102)",
                    "rgb(204, 204, 204)", "rgb(217, 217, 217)","rgb(255, 255, 255)"],
                ["rgb(152, 0, 0)", "rgb(255, 0, 0)", "rgb(255, 153, 0)", "rgb(255, 255, 0)", "rgb(0, 255, 0)",
                    "rgb(0, 255, 255)", "rgb(74, 134, 232)", "rgb(0, 0, 255)", "rgb(153, 0, 255)", "rgb(255, 0, 255)"],
                ["rgb(230, 184, 175)", "rgb(244, 204, 204)", "rgb(252, 229, 205)", "rgb(255, 242, 204)", "rgb(217, 234, 211)",
                    "rgb(208, 224, 227)", "rgb(201, 218, 248)", "rgb(207, 226, 243)", "rgb(217, 210, 233)", "rgb(234, 209, 220)",
                    "rgb(221, 126, 107)", "rgb(234, 153, 153)", "rgb(249, 203, 156)", "rgb(255, 229, 153)", "rgb(182, 215, 168)",
                    "rgb(162, 196, 201)", "rgb(164, 194, 244)", "rgb(159, 197, 232)", "rgb(180, 167, 214)", "rgb(213, 166, 189)",
                    "rgb(204, 65, 37)", "rgb(224, 102, 102)", "rgb(246, 178, 107)", "rgb(255, 217, 102)", "rgb(147, 196, 125)",
                    "rgb(118, 165, 175)", "rgb(109, 158, 235)", "rgb(111, 168, 220)", "rgb(142, 124, 195)", "rgb(194, 123, 160)",
                    "rgb(166, 28, 0)", "rgb(204, 0, 0)", "rgb(230, 145, 56)", "rgb(241, 194, 50)", "rgb(106, 168, 79)",
                    "rgb(69, 129, 142)", "rgb(60, 120, 216)", "rgb(61, 133, 198)", "rgb(103, 78, 167)", "rgb(166, 77, 121)",
                    "rgb(91, 15, 0)", "rgb(102, 0, 0)", "rgb(120, 63, 4)", "rgb(127, 96, 0)", "rgb(39, 78, 19)",
                    "rgb(12, 52, 61)", "rgb(28, 69, 135)", "rgb(7, 55, 99)", "rgb(32, 18, 77)", "rgb(76, 17, 48)"]
            ]
        });
        $('#full').on('change', function() {
            $('#project-card').css('background-color', $(this).val());
            console.log = $(this).val();
            background_color = $(this).val();
            adjustSoftedge();
        });

        console.log(background_color);
        var currentSelector = null;
        $('.editable-container').prop('contenteditable', true).draggable({
            containment: "#project-card",
            handle: 'div.ui-resizable-drag-handle-top, div.ui-resizable-drag-handle-right, div.ui-resizable-drag-handle-bottom, div.ui-resizable-drag-handle-left'
        });

        $('.resizable-container').click(function () {
            $('.resizable-container').resizable().resizable("destroy").find("div:not('.soft-edge')").remove();
            $(this).resizable({
                handles: 'n, e, s, w, ne, se, sw, nw, drag-handle-top, drag-handle-right, drag-handle-bottom, drag-handle-left',
                create: function () {
                    $('.ui-resizable-drag-handle-top, .ui-resizable-drag-handle-right, .ui-resizable-drag-handle-bottom, .ui-resizable-drag-handle-left').removeClass('ui-resizable-handle');
                }
            });
            $('#image-edit-sidebar').hide();
        });

        $(document).off('click', '.upload_theam').on('click', '.upload_theam', function () {
            $("#upload-theam_image").click();
        });

        $("#upload-theam_image").change(function () {
            $('#theam-upload').ajaxSubmit({
                url: $(this).attr('action'),
                dataType: 'script',
                method: 'POST'
            });
        });

        $('.editable-image').click(function () {
            currentSelector = $(this);
            $('#image-edit-sidebar').show();
             var val = currentSelector.find('.soft-edge').attr('data-soft-edge');
            $("#edge_slide").bootstrapSlider('setValue', val);
            var editableSrc = $(this).find('img').attr('src');
            $('#image_edit').cropper('destroy').attr('src', editableSrc).cropper({
                autoCropArea: 0.5
            });
        }).draggable({
            containment: "#project-card",
            handle: false
        });

        $("#opacity_slide").bootstrapSlider({
            tooltip: 'show',
            reversed: true,
            labelledby: "Test"
        }).slider().change(function () {
            var opacity = $(this).val();
            var selector = currentSelector.find('img');
            selector.css({opacity: opacity});
        });

        $("#edge_slide").bootstrapSlider({
            tooltip: 'show',
            labelledby: "Test"
        }).slider().change(function () {
            if (currentSelector != null) {
                currentSelector.removeClass(function (index, className) {
                    return (className.match(/\bimg-shadow_\d+/g) || []).join(' ');
                });
                var target = currentSelector.find('.soft-edge');
                var range = $(this).val();
                generate_soft_edge(target, range, background_color);
            }
        });



        $('.select-font').change(function () {
            change_selection_style("fontName", $(this).val());
        });

        $('.select-font-size').change(function () {
            change_selection_style("fontSize", $(this).val());
        });

        $('#full1').change(function () {
            document.execCommand('styleWithCSS', false, true);
            document.execCommand('foreColor', false, $(this).val());
        });

        $('.input-color').change(function () {
            document.execCommand('styleWithCSS', false, true);
            document.execCommand('foreColor', false, $(this).val());
        });


        $(document).off('click', '#crop-image').on('click', '#crop-image', function () {
            var croppedData = $('#image_edit').cropper('getCroppedCanvas').toDataURL('image/jpeg');
            if (currentSelector != null && currentSelector.has('img')) {
                var data = {};
                var selector = currentSelector.find('img');
                data['field'] = getImageFieldMap(selector.attr('id'));
                data['value'] = croppedData;
                updateImage(selector, data);
            }
        });

        $(document).off('change', '#upload-file-selector').on('change', '#upload-file-selector', function () {
            var selector = currentSelector.find('img');
            var field_name = getImageFieldMap(selector.attr('id'));
            $("#field_name").val(field_name);
            $('#upload_new_image').ajaxSubmit({
                url: '<%= project_card_upload_image_path(@project_card) %>',
                dataType: 'json',
                method: 'post',
                success: function (res) {
                    console.log(res.image);
                    console.log(selector);
                    $(selector).attr('src', res.image);
                    currentSelector.removeClass(function (index, className) {
                        return (className.match(/\bimg-shadow_\d+/g) || []).join(' ');
                    });
                },
                error: function (e) {
                    alert('unable to update image');
                }
            });
        });

        $('#update-live-editor').click(function () {
            $('.resizable-container').resizable().resizable("destroy");
            $('.editable-container').prop('contenteditable', false);
            update_content();
            $('.editable-container').prop('contenteditable', true);

        });

        function updateImage(selector, data) {
            $.ajax({
                url: '<%= project_card_update_image_path(@project_card) %>',
                type: 'post',
                dataType: 'json',
                data: data,
                success: function (res) {
                    console.log(res.image);
                    console.log(selector);
                    $(selector).attr('src', res.image);
                },
                error: function (e) {
                    alert('unable to update image');
                    console.log(e);
                }
            });
        }

        function update_content() {
            updateHtml = $('#project-card')[0].outerHTML;
            $.ajax({
                url: '<%= project_card_path(@project_card) %>',
                type: 'patch',
                data: {project_card: {content: updateHtml}},
                success: function () {
                }
            });
        }

        function getImageFieldMap(field) {
            alert(field);
            if (field == 'image3') {
                return 'image3';
            }
            else if (field == 'image2') {
                return 'image2';
            }
            else if (field == 'image1') {
                return 'image1';
            }
            else {
                return field;
            }
        }

        function change_selection_style(field, value) {
            if (document.selection && document.selection.createRange) {
                range = document.selection.createRange();
                range.execCommand(field, false, value);
            } else if (window.getSelection) {
                // Non-IE
                sel = window.getSelection();
                if (sel.rangeCount && sel.getRangeAt) {
                    range = sel.getRangeAt(0);
                }
                document.designMode = "on";
                if (range) {
                    sel.removeAllRanges();
                    sel.addRange(range);
                }
                document.execCommand(field, false, value);
                document.designMode = "off";
            }
        }

        function generate_soft_edge(target, range, color) {
            if (range == 0) {
                color = 'transparent';
            }

            target.attr("data-soft-edge", range);
            box_shadow = "inset 0px 0px 20px " + range + "px " + color;
            webkit_shadow = "inset 0px 0px 20px " + range + "px " + color;
            moz_shadow = "inset 0px 0px 20px " + range + "px " + color;
            o_shadow = "inset 0px 0px 20px " + range + "px " + color;

            target.css('box-shadow', box_shadow);
            target.css('-webkit-box-shadow', webkit_shadow);
            target.css('-moz-box-shadow', moz_shadow);
            target.css('-o-box-shadow', o_shadow);
        }

        function adjustSoftedge() {
            $('.soft-edge').each(function() {
                var range = $(this).attr("data-soft-edge");
                generate_soft_edge($(this),range, background_color)
            });
        }
    });
</script>