<p id="notice"><%= notice %></p>

<h1>Listing Project Cards</h1>

<table class="table table-bordered">
  <thead>
  <tr>
    <th> Name</th>
    <th> Description</th>
    <th> Location</th>
    <th> Price</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @project_cards.each do |project_card| %>
      <tr>
        <td> <%= project_card.name %> </td>
        <td> <%= project_card.description %> </td>
        <td> <%= project_card.location %> </td>
        <td> <%= project_card.price %> </td>
        <td><%#= link_to 'Show', project_card %></td>
        <td><%= link_to 'Edit', edit_project_card_path(project_card) %></td>
        <td><%= link_to 'Destroy', project_card, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project card', new_project_card_path %>

<script type="text/javascript">
//    $.ajax({
//        url: "http://localhost:3001/api/biometric/all",
//        method: 'get',
//        dataType: 'json',
//        error: function (request, error) {
//            alert(" Can't do because: " + error)
//        },
//        success: function(response) {
//            alert('here')
//            console.log(response);
//        }
//    })
//    $.ajax({
//        url: 'http://accounts.tangailenterprise.com/api/users/'+ 201 +'/attendances',
//        method: 'POST',
//        dataType: 'json',
//        error: function (request, error) {
//            alert(" Can't do because: " + error)
//        },
//        success: function(response) {
//            alert('here')
//            console.log(response);
//        }
//    })
</script>
