/* ===================================
1. Default styles for Worker/Business JOBCIE card
====================================== */
.biz-card-frame
{
	background:#2c2c2c;
	-moz-box-shadow: 3px 3px rgba(0,0,0,0.4);
	-webkit-box-shadow: 3px 3px rgba(0,0,0,0.4);
	box-shadow: 3px 3px rgba(0,0,0,0.4);
	padding-top:1em;
	padding-bottom:1em;
}
.biz-card-inner-frame
{
display:table;
table-layout:fixed;
border-collapse:collapse;
width:100%;
}
.biz-card-promo-pix
{
	width:100%;
}
.biz-card-promo-pix-wrap
{
	padding:0 1em;
	text-align:center;
}
.biz-card-promo
{
float:left;	
width:33.33333333%;
margin:0 0 0 0;
padding:0 0 0 0;
}
.biz-card-promo img
{
	width:100%;
	height:auto;
	display:block;
	border:0;
}
.biz-card-promo img a, .biz-card-promo a img
{
	border:0;
}
.biz-card-promo img:hover
{
	opacity: 0.6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
}
.biz-card-logo
{
	padding-top:1em;
	padding-bottom:1em;
}
.biz-card-logo
{
	width:40%;
	text-align:center;
	vertical-align:middle;
	display:table-cell;
}
.biz-card-logo-sizer
{
	padding:1.5em;
}
.biz-card-logo img
{
	width:100%;
	height:auto;
	display:block;
	border:0;
}
.biz-card-logo img:hover
{
	opacity: 0.6;
	    filter: alpha(opacity=60); /* For IE8 and earlier */
}
.biz-card-desc
{
	vertical-align:top;
	padding:2em 1em;
	text-align:left;
}
.biz-card-desc a i
{
	color:#797979;
}
.biz-card-desc a:hover i
{
	color:#dcdcdc;
}

/**--Worker/Business NAME--**/

.biz-card-desc h2.co-name
{
	font-family:"Karla", sans-serif;
	color:#73f9fa;
	font-size:1.25em;
	font-weight:bold;
	margin:0 0 0 0;
	padding:0 0 0 0;
	text-transform:none;
}
.biz-card-desc h2.co-name a
{
	color:#73f9fa;
	font-family:"Karla", sans-serif;
	font-weight:bold;
	text-decoration:none;
	border-bottom:1px solid transparent;
	font-size:100%;
}
.biz-card-desc h2.co-name a:hover
{
	color:#dcdcdc;
	border-bottom:1px dashed #fff;
}

/**--Worker/Business LOCATION--**/

.biz-card-desc h3.co-location
{
	font-family:"Karla", sans-serif;
	color:#fff;
	font-size:1.15em;
	font-weight:bold;
	margin:0.35em 0;
	padding:0 0 0 0;
	text-transform:none;
}
.biz-card-desc h3.co-location a
{
	font-family:"Karla", sans-serif;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	border-bottom:1px solid transparent;
	font-size:100%;
}
.biz-card-desc h3.co-location a:hover
{
	color:#dcdcdc;
	border-bottom:1px dashed #fff;
}

/**--Worker/Business CATEGORY/SKILL--**/

.biz-card-desc h4.co-cat-skill
{
	font-family:"Karla", sans-serif;
	color:#e8ffad;
	font-size:1.15em;
	font-weight:bold;
	margin:0 0 0.25em 0;
	padding:0 0 0 0;
	text-transform:none;
}

.biz-card-desc h4.co-cat-skill a
{
	font-family:"Karla", sans-serif;
	color:#e8ffad;
	font-size:100%;
	font-weight:bold;
	text-decoration:none;
	border-bottom:1px solid transparent;
}

.biz-card-desc h4.co-cat-skill a:hover
{
	color:#dcdcdc;
	border-bottom:1px dashed #fff;
}

/**--Worker/Business DESCRIPTION--**/

.biz-card-desc p.co-desc
{
	font-family:"Karla", sans-serif;
	color:#dcdcdc;
	font-size:0.9em;
	font-weight:600;
	font-style:italic;
	margin:0.5em 0 0 0;
	padding:0 0 0 0;
	text-transform:none;
	line-height:1.5;
}

.biz-card-desc p.co-desc a
{
	font-family:"Karla", sans-serif;
	color:#dcdcdc;
	font-size:100%;
	font-weight:inherit;
	font-style:italic;
	text-decoration:none;
	border-bottom:1px solid transparent;
}

.biz-card-desc p.co-desc a:hover
{
	color:#dcdcdc;
	border-bottom:1px dashed #fff;
}

.biz-card-desc p.co-desc .tooltip
{
	font-style:normal;
}



/* ===================================
2. Variations for Worker/Business Dashboard landing page
====================================== */
.project-block .landing-page-card-wrap img
{
	width:100%;
	height:auto;
	display:block;
	border:0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.landing-page-card-wrap .edit-card-button .btn-primary
{
	font-size:1em;
	float:right;
	margin-right:0;
	margin-bottom:0;
}
.landing-page-card-wrap .biz-card-logo-sizer
{
	padding:0.5em 0.5em 0.5em 0.5em;
}

/* ===================================
3. Variations for JOBCIE Card Editor page
====================================== */

 #poster-canvas .biz-card-wrapper .biz-card-desc h2.co-name
 {
 	font-size:1.6em;
}

#poster-canvas .biz-card-wrapper .biz-card-desc h3.co-location
{
	font-size:1.35em;
	margin:0.5em 0;
}

#poster-canvas .biz-card-wrapper .biz-card-desc p.co-desc
{
	font-size:1.2em;
	margin:1em 0 0 0;
	line-height:1.5;
}

/*----Media queries for Section 3. Variations for JOBCIE Card Editor page----*/
@media only screen and (max-width:480px) and (min-width:320px){
	.biz-card-inner-frame
	{
	display:block;
	width:100%;
	}
	.biz-card-logo
	{
		width:80%;
		margin:0 10%;
		text-align:center;
		display:block;
	}
	.biz-card-logo
	{
		padding-top:1em;
		padding-bottom:0;
	}
	.biz-card-logo-sizer
	{
		padding:0 1.5em 1em 1.5em;
	}
	.biz-card-desc
	{
		vertical-align:top;
		padding:1em 2em 2em 2em;
		text-align:left;
	}
}
@media only screen and (max-width:320px) and (min-width:240px){
	.biz-card-inner-frame
	{
	display:block;
	width:100%;
	}
	.biz-card-logo
	{
		width:80%;
		margin:0 10%;
		text-align:center;
		display:block;
	}
	.biz-card-logo
	{
		padding-top:1em;
		padding-bottom:0;
	}
	.biz-card-logo-sizer
	{
		padding:0 1.5em 1em 1.5em;
	}
	.biz-card-desc
	{
		vertical-align:top;
		padding:1em 2em 2em 2em;
		text-align:left;
	}
}





