<% (1..100).each do |i| %>
.img-shadow_<%= i %> {
    position: relative;
    max-width: 100%;
    float: left;
}

.img-shadow_<%= i %>::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0px 0px 20px <%= i %>px  ;
    -webkit-box-shadow: inset 0px 0px 20px <%= i %>px  ;
    -moz-box-shadow: inset 0px 0px 20px <%= i %>px  ;
    -o-box-shadow: inset 0px 0px 20px <%= i %>px  ;
    /*-webkit-box-shadow: inset 0 0 <%#= i %>px #999999;*/
    /*-webkit-box-shadow: inset -<%#= i %>px -27px <%#= i %>px rgba(0, 0, 0, 0.9), inset 32px -<%#= i %>px <%#= i %>px rgba(0, 0, 0, 0.9), inset -25px 49px <%#= i %>px rgba(0, 0, 0, 0.7);*/
}

.img-shadow_<%= i %> img {
    float: left;
}

<% end %>


.soft-edge {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
}