/**--Project card--**/

.project-card-wrapper {
}

.project-card-wrapper a i {
    color: #797979;
}

.project-card-wrapper a:hover i {
    color: #dcdcdc;
}

.project-card-frame {
    background: #2c2c2c;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    -moz-box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
    padding-top: 0;
    padding-bottom: 0;
}

.pin-tier {
    text-align: center;
    font-size: 1em;
    color: #fff;
}

.pin-tier i {
    color: #fff;
}

.pin-grip {
    width: 8%;
    margin: 0 46%;
}

.pin-grip img {
    width: 100%;
    height: auto;
    display: block;
    border: 0;
}

.project-card-tier1 {
}

.project-name-wrap {
    width: 35%;
    float: left;
}

.project-name-wrap article {
    padding: 1em;
}

.project-name-wrap h2 {
    text-align: center;
    font-size: 2em;
    color: #fff;
    font-family: "Karla", sans-serif;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 1.5em;
}

.project-name-wrap h2 a {
    font-size: 100%;
    color: #fff;
    font-family: "Karla", sans-serif;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.project-name-wrap h2 a:hover {
    color: #dcdcdc;
    border-bottom: 1px dashed #fff;
}

.project-name-wrap h2 .tooltip {
    text-transform: none;
}

.project-name-wrap h2 a i {
    font-size: 60%;
}

p.project-price {
    color: #fff;
    font-family: "Karla", sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
}

p.project-price a {
    color: #fff;
    font-family: "Karla", sans-serif;
    font-weight: bold;
    font-size: 100%;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

p.project-price a i {
    font-size: 70%;
}

p.project-price a:hover {
    color: #dcdcdc;
    border-bottom: 1px dashed #fff;
}

.project-location-pictures-wrap {
    width: 65%;
    float: left;
}

.project-location-pictures-wrap article {
    padding: 1em;
}

.project-location-pictures-wrap article .project-location {
    text-align: right;
    font-size: 0.95em;
    color: #fff;
    font-family: "Karla", sans-serif;
    font-weight: bold;
    font-style: italic;
    text-transform: none;
    margin-bottom: 1.5em;
}

.project-location-pictures-wrap article .project-location a {
    font-size: 100%;
    color: #fff;
    font-family: "Karla", sans-serif;
    font-weight: bold;
    text-transform: none;
    text-decoration: none;
    border: 1px solid transparent;
}

.project-location-pictures-wrap article .project-location a:hover {
    color: #dcdcdc;
    border-bottom: 1px dashed #fff;
}

.project-location-pictures-wrap article .project-location .tooltip {
    font-style: normal;
}

.project-image-tile-50 {
    width: 50%;
    float: left;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.project-image-tile-50 a img, .project-image-tile-50 img a {
    border: 0;
}

.project-image-tile-100 a img, .project-image-tile-100 img a {
    border: 0;
}

.project-image-tile-50 img, .project-image-tile-100 img {
    width: 100%;
    height: auto;
    display: block;
    border: 0;
}

.project-image-tile-50 img:hover, .project-image-tile-100 img:hover {
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.project-card-desc-wrap {
    padding: 1em;
    min-height: 130px;
}

.project-card-desc-wrap p {
    margin: 0.75em 0 0 0;
    padding: 0 0 0 0;
    line-height: 1.5;
    font-size: 0.9em;
    font-family: "Karla", sans-serif;
    color: #dcdcdc;
    text-align: justify;
    font-weight: 600;
    text-transform: none;
    font-style: italic;
}

.project-card-desc-wrap p a {
    font-family: "Karla", sans-serif;
    color: #dcdcdc;
    font-size: 100%;
    font-weight: inherit;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.project-card-desc-wrap p a:hover {
    color: #dcdcdc;
    border-bottom: 1px dashed #fff;
}

.project-card-desc-wrap p .tooltip {
    font-style: normal;
}

.jobcie-signature {
    width: 30%;
    margin: 0 0 0 70%;
}

.jobcie-signature img {
    width: 100%;
    height: auto;
    display: block;
    border: 0;
}

/*----Project card: responsive design, media queries----*/

@media only screen and (max-width: 1440px) and (min-width: 1366px) {
}

@media only screen and (max-width: 1366px) and (min-width: 1280px) {
}

@media only screen and (max-width: 1280px) and (min-width: 1024px) {
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
}

@media only screen and (max-width: 768px) and (min-width: 640px) {
}

@media only screen and (max-width: 640px) and (min-width: 480px) {
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
    #project-wrapper {
        padding: 0 0;
    }

    .project-name-wrap {
        width: 100%;
        float: none;
    }

    .project-location-pictures-wrap {
        width: 100%;
        float: none;
    }

    .project-name-wrap h2 {
        font-size: 1.75em;
        margin-bottom: 0.5em;
    }

    p.project-price {
        font-size: 1.1em;
    }

    .project-location-pictures-wrap article .project-location {
        text-align: center;
    }
}

@media only screen and (max-width: 320px) and (min-width: 240px) {
    #project-wrapper {
        padding: 0 0;
    }

    .project-name-wrap {
        width: 100%;
        float: none;
    }

    .project-location-pictures-wrap {
        width: 100%;
        float: none;
    }

    .project-name-wrap h2 {
        font-size: 1.75em;
        margin-bottom: 0.5em;
    }

    p.project-price {
        font-size: 1.1em;
    }

    .project-location-pictures-wrap article .project-location {
        text-align: center;
    }
}

.dropbtn {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    z-index: 10000;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

#upload-theam_image {
    display: none;
}