#project-card {
  background-repeat: no-repeat !important;
  background-size: cover;
  width: 700px;
  height: 420px;
  position: relative;
  padding: 10px;
  margin: 50px auto auto auto;
  .project-card-container {
    padding: 10px;
    img {
      width: 215px;
      height: 150px;
    }
  }

  .name-wrapper {
    width: 240px;
    float: left;
    text-transform: uppercase;
  }

  .location-wrapper {
    float: right;
    width: 300px;
    text-align: right;
  }

  .price-wrapper {
    max-width: 200px;
    float: left;
    min-width: 60px;
  }

  .group-image-wrapper {
    float: right;
    width: 430px;
    .image1-wrapper {
      float: left;
    }

    .image2-wrapper {
      float: right;
    }
  }

  .image3-wrapper {
    float: left;
  }

  .bottom-section {
    min-height: 100px;
  }

  .description-wrapper {
    float: right;
    width: 430px;
    height: 140px;
    text-transform: none;
    margin: 0.75em 0 0 0;
    padding: 0 0 0 0;
    line-height: 1.5;
    font-size: 0.9em;
    font-family: "Karla", sans-serif;
    color: #dcdcdc;
    text-align: justify;
    font-weight: 600;
    font-style: italic;
    display: inline-block;
  }

  .editable {
    font-size: 100%;
    color: #fff;
    font-family: "Karla", sans-serif;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    border-bottom: solid 1px transparent;
  }
}

.edit-field {
  display: none;
  border: none;
  background: transparent;
  padding-left: 0;
  &:focus {
    border-bottom: 1px dashed #fff;
    color: #dcdcdc;
    border-top: none;
    border-right: none;
    border-left: none;
  }
}

.edit-button {
  cursor: pointer;
}

.project-name-wrap {
  label.editable {
    font-size: 100%;
    color: #fff;
    font-family: "Karla", sans-serif;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    border-bottom: solid 1px transparent;
    &:hover {
      color: #dcdcdc;
      border-bottom: 1px dashed #fff;
    }
  }
}

.image-upload {
  cursor: pointer;
}

.image-upload > input {
  display: none;
}

.image-upload img {
  //width: 80px;
  cursor: pointer;
}

.theme-items {
  width: 120px !important;
  .pre-theme {
    a {
      padding: 4px 10px 0 10px !important;
      &:first-child {
        padding-top: 10px !important;
      }
      img {
        width: 100%;
        height: 45px;
      }
    }
  }
}

.image-option {
  position: absolute;
  top: 46%;
  left: 36%;
  font-size: 25px;
  i {
    color: #ccc;
    font-size: 20px;
  }
}

.image-option-outer {
  display: none;
  z-index: 50000;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: background 0.5s ease;
  background: rgba(50, 50, 50, 0.68);
}

.image-upload {
  &:hover {
    .image-option-outer {
      //display: block;
    }
  }
}

.padding-botto15 {
  padding-bottom: 15px;
}

.slider-horizontal {
  //width: 80px !important;
}

#live-editor {
  #project-card {
    width: 700px;
    height: 420px;
    position: relative;
    padding: 10px;
    margin: 50px auto auto auto;
    .project-card-container {
      padding: 10px;
      img {
        width: 215px;
        height: 150px;
      }
    }

    .name-wrapper {
      width: 240px;
      float: left;
      text-transform: uppercase;
      font-size: 2em;
      color: #fff;
      font-family: "Karla", sans-serif;
      font-weight: bold;
      line-height: 1.5;
    }

    .location-wrapper {
      float: right;
      width: 300px;
      text-align: right;
      font-size: 0.95em;
      color: #fff;
      font-family: "Karla", sans-serif;
      font-weight: bold;
      font-style: italic;
      text-transform: none;
      margin-bottom: 1.5em;
    }

    .price-wrapper {
      max-width: 200px;
      float: left;
      min-width: 60px;
      color: #ffffff;
    }

    .editable-image {
      width: 215px;
      height: 150px;
      .image-preview {
        width: 100%;
        height: 100%;
      }
    }

    .editable-container {
      padding: 2px;
    }

    .group-image-wrapper {
      float: right;
      width: 430px;
      .image1-wrapper {
        float: left;
      }

      .image2-wrapper {
        float: right;
      }
    }

    .image3-wrapper {
      float: left;
    }

    .bottom-section {
      min-height: 100px;
    }

    .description-wrapper {
      float: right;
      width: 430px;
      height: 140px;
      text-transform: none;
      textarea {
        height: 100px;
      }
    }

    .editable {
      font-size: 100%;
      color: #fff;
      font-family: "Karla", sans-serif;
      font-weight: bold;
      text-decoration: none;
      display: inline-block;
      border-bottom: solid 1px transparent;
    }
  }
}

#fileselector {
  margin: 10px;
}

#upload-file-selector {
  display: none;
}

.margin-correction {
  margin-right: 10px;
}

.color-input {
  width: 4%;
  height: 27px;
}

[contenteditable] {
  -webkit-user-select: auto;
  user-select: all;
}

//.full-spectrum {
//  position: relative;
//}

.fore-color {
  display: inline-block;
  height: 35px;
  padding: 4px;
  position: relative;
  width: 40px;
  span.icon {
    display: block;
    font-size: 20px;
    font-weight: bold;
    line-height: 21px;
    i {
      color: #f48024;
    }
  }
  span.bar {
    background: #f48024 none repeat scroll 0 0;
    display: block;
    height: 6px;
    width: 100%;
  }
}

.jscolor {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.sp-replacer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}