.ui-resizable-n,
.ui-resizable-e,
.ui-resizable-nw,
.ui-resizable-sw,
.ui-resizable-se,
.ui-resizable-n,
.ui-resizable-s,
.ui-resizable-w,
.ui-resizable-ne {
  width: 8px !important;
  height: 8px !important;
  background-color: #ffffff !important;
  border: 1px solid #000000 !important;
}

.ui-resizable-nw {
  left: -5px !important;
  top: -5px !important;
}

.ui-resizable-ne {
  top: -5px !important;
  right: -5px !important;
}

.ui-resizable-sw {
  bottom: -5px !important;
  left: -5px !important;
}

.ui-resizable-se {
  bottom: -5px !important;
  right: -5px !important;
}

.ui-resizable-n {
  top: -5px !important;
  left: 50% !important;
}

.ui-resizable-s {
  bottom: -5px !important;
  left: 50% !important;
}

.ui-resizable-w {
  left: -5px !important;
  top: 50% !important;
}

.ui-resizable-e {
  right: -5px !important;
  top: 50% !important;
}

.ui-dialog .ui-resizable-se {
  width: 12px !important;
  height: 12px !important;
  right: 3px !important;
  bottom: 3px !important;
}

[contenteditable]:focus {
  outline: 0 solid transparent !important;
  //border: solid 1px #cccccc;
}

#live-editor {
  .ui-resizable-drag-handle-top,
  .ui-resizable-drag-handle-right,
  .ui-resizable-drag-handle-bottom,
  .ui-resizable-drag-handle-left {
    position: absolute;
    cursor: move;
    background-color: #999999 !important;
    z-index: 80 !important;
  }

  .ui-resizable-drag-handle-top {
    left: 0;
    right: 0;
    top: -3px;
    height: 3px !important;
  }

  .ui-resizable-drag-handle-right {
    right: -3px;
    top: 0;
    bottom: 0;
    width: 3px !important;
  }

  .ui-resizable-drag-handle-bottom {
    left: 0;
    right: 0;
    bottom: -3px;
    height: 3px !important;
  }

  .ui-resizable-drag-handle-left {
    left: -3px;
    top: 0;
    bottom: 0;
    width: 3px !important;
  }

}

.ui-wrapper {
  overflow: visible !important;
}

#image-edit-sidebar {
  position: fixed;
  right: 0;
  width: 270px;
  display: none;
  background: #292929;
  top: 70px;
  height: 100vh;
  z-index: 999;
  .image-property-header {
    color: #dfdfdf;
    text-align: center;
    font-size: 18px;
    border-bottom: solid 1px #cccccc;
  }
  .image-property-container {
    padding: 15px;
    h4 {
      color: #dfdfdf;
      text-align: left;
      margin-bottom: 5px;
    }
    .crop-image-wrapper {
      text-align: right;
      .crop-area {
        height: 200px;
      }
      #crop-image {
        margin: 10px 0 0 0;
      }
    }

    .soft-edge-wrapper {
      margin-top: 10px;
    }

    .replace-image-wrapper {
      margin-top: 10px;
      a {
        padding: 5px !important;
        margin: 4px 0 0 0;
      }
    }
  }
}